{% extends 'layouts/auth_layout.html' %}

{% block auth_content %}
    <h2 class="text-2xl font-bold text-center mb-6">Réinitialiser le mot de passe</h2>
    <p class="text-gray-600 text-center mb-4">Veuillez entrer votre numéro de téléphone pour recevoir un code de réinitialisation.</p>
    <form method="post">
        {% csrf_token %}
        <div class="mb-4">
            <label for="phone_number" class="block text-gray-700 text-sm font-bold mb-2">Numéro de téléphone</label>
            <input type="text" name="phone_number" id="phone_number" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Ex: 0022377123456" required>
        </div>
        <div class="flex items-center justify-between">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Envoyer le code
            </button>
            <a href="{% url 'authentication:client_login' %}" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">
                Annuler
            </a>
        </div>
        {% if messages %}
            <ul class="messages mt-4">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }} text-red-500 text-xs italic"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </form>
{% endblock %}
